openapi: 3.1.0
info:
  title: Netmera REST API
  version: "3.0"
  summary: Server-side API for push, email, SMS, WhatsApp, events, users, devices and inbox.
  description: |
    The Netmera REST API lets your backend send notifications across channels, fire events,
    manage users, devices, tags, categories, segments and profile attributes, and read
    delivery statistics.

    ## Authentication

    Every request must carry your **REST API key** in the `X-netmera-api-key` header.

    1. Log in to the **Netmera Panel**.
    2. Navigate to **Developers > API**.
    3. Copy the **REST API key** from the provided field.

    Use only the REST API key — not the JavaScript or mobile keys — for REST API requests.
    Always include `Content-Type: application/json` when sending JSON payloads.

    ## External ID (`extId`)

    `extId` is the unique identifier assigned to a user in your own system.

    - It must be unique per user.
    - It groups all app installations (for example smartphone and tablet) under a single user.
    - It is required in most REST API requests, such as inbox retrieval and status updates.

    If a person uses the app on both an iPhone and an iPad, both installations should send the
    same `extId` (for example `"extId": "john123"`). Netmera recognizes these as different
    devices belonging to the same user.

    ## General limitations

    - A maximum of **1000 unique external IDs or device tokens** per request. Split larger
      payloads across multiple requests.
    - If a custom parameter in a request differs from the parameter configured in the panel,
      the request value overwrites the panel value.

    ## Response bodies

    Read endpoints return the data they describe. Write endpoints do not follow a single
    convention, so do not assume a JSON body on a successful write:

    | Shape | When | Example endpoints |
    | --- | --- | --- |
    | No body at all | The call updated existing records | `enablePush`, `tagUsers`, `setProfileAttributes`, `addEmail` |
    | An empty object, `{}` | The call was accepted and returns no fields | `sendNotification` |
    | An object holding the new identifier | The call created a resource | `createNotificationDefinition` and `sendEmailAndSms` return `notificationKey`; `geofence/add` returns `id` |

    Most write endpoints return no body, so a client that parses every response as JSON
    will fail on the majority of them. Each operation states its own behavior below.

    ## Error responses

    Application-level failures return a JSON body with a `code` and an `error` field, for
    example `{"code": 2004, "error": "Field 'notificationKey' should be a text"}`. This shape
    is modelled as the `ErrorResponse` schema.

    Framework-level failures, such as a request to a path that does not exist, do not use
    that shape. They return an RFC 9457 problem detail with `type`, `title`, `status`,
    `detail` and `instance` fields instead.

    | Error | Netmera error code | HTTP response code |
    | --- | --- | --- |
    | Internal server error | 2001 | 500 |
    | Field type mismatch | 2004 | 400 |
    | Invalid JSON | 2009 | 400 |
    | API key is invalid | 2010 | 403 |
    | Missing required parameter | 2020 | 400 |
    | Invalid configuration | 2021 | 400 |
    | Your IP is not allowed | 2021 | 403 |
    | You are not authorized to do this action | 2022 | 403 |
    | Push message size exceed limit | 2101 | 400 |
    | Dist list not found | 2102 | 400 |
    | Status of this message is not draft | 2103 | 400 |
    | App settings not found | 2104 | 500 |
    | Message is not intelligent | 2105 | 500 |
    | Due to time restriction settings message can not be sent | 2106 | 400 |
    | No such role | 2410 | 403 |
    | Role name must be unique | 2411 | 400 |
    | You are not allowed for this action | 4000 | 403 |
    | Application name has been reserved | 5000 | 400 |
    | Application name cannot be empty | 5001 | 400 |
    | Application name must be unique | 5002 | 400 |
    | Message with given messageId could not be found | 5003 | 400 |
    | Tracking App with given id could not be found | 5004 | 400 |
    | Deeplink with given id could not be found | 5004 | 400 |
    | WebHook with given id could not be found | 5004 | 400 |
    | Sound file with given id could not be found | 5004 | 400 |
    | Invalid message state | 5005 | 400 |
    | The button set with given id could not be found | 5006 | 400 |
    | Please login | 5007 | 401 |
    | The application is not configured for message approval mechanism | 5008 | 400 |
    | A user with this email address already exists | 5009 | 400 |
    | Role with the given name does not exist | 5010 | 400 |
    | The email verification token is invalid | 5011 | 400 |
    | The user is already active | 5012 | 400 |
    | Invalid reset password token | 5013 | 400 |
    | There must be at least one application admin user | 5014 | 400 |
    | An error occurred while uploading your file | 5015 | 500 |
    | The user with given identifier is not found | 5016 | 400 |
    | The external id is not found in the current application | 5016 | 400 |
    | The file token is invalid | 5017 | 400 |
    | The geofence with given id could not be found | 5018 | 400 |
    | Event Definition Code can not be null | 5018 | 400 |
    | Message performance profile attribute cannot be null | 5019 | 400 |
    | Unexpected Error Occurred | 5019 | 400 |
    | An error occurred while uploading icon | 5020 | 500 |
    | Service usage is not allowed | 5021 | 400 |
    | Service usage quota is exceeded | 5022 | 400 |
    | App schema not defined | 5023 | 400 |
    | Geofence name must be unique | 5024 | 400 |
    | Segment name must be unique | 5025 | 400 |
    | List name must be unique | 5026 | 400 |
    | Certificate password error | 5027 | 400 |
    | Event is not found | 5028 | 400 |
    | Message category name must be unique | 5029 | 400 |
    | Event with same event code already exists in this application | 5030 | 400 |
    | Profile attribute with same attribute name already exists in this application | 5030 | 400 |
    | Android api key is not valid | 5031 | 400 |
    | The dynamic template with given id could not be found | 5032 | 400 |
    | Product with given id could not be found | 5033 | 400 |
    | There is already a funnel with that name | 5034 | 400 |
    | There is already an event insight with that name | 5035 | 400 |
    | Notification Channel with given id could not be found | 5036 | 400 |
    | Web push domain not valid | 5037 | 400 |
    | The mail template with given id could not be found | 5038 | 400 |
    | There is already a screen view mapping with that screen id | 5039 | 400 |
    | Uploaded file is empty | 5040 | 400 |
    | Mail content is empty | 5041 | 400 |
    | Segment not found | 5042 | 400 |
    | There is already an ui action with this pretty name or with this page item id pair in this platform | 5042 | 400 |
    | File cannot be created | 5100 | 400 |
    | File cannot be renamed | 5101 | 400 |
    | Business unit must be selected for business unit roles | 5102 | 400 |
    | Multiple business unit can not be assigned a user | 5103 | 400 |
    | Mono service unreachable | 5104 | 400 |
    | Business unit id is not specified | 5105 | 400 |
    | Mono business unit not found | 5106 | 400 |
    | Crash symbol not found | 5107 | 400 |
    | This placeholder key is already in use | 5108 | 400 |
    | Exceeds per placeholder limit | 5109 | 400 |
    | An error occurred while symbolicating stack trace | 5110 | 400 |
    | An error occurred while uploading crash symbol file | 5111 | 400 |
    | There is already an event mapping with that name | 5112 | 400 |
    | Invalid address | 6000 | 400 |
    | Delivery error | 6001 | 500 |
    | You cannot edit an active recommendation! You need to stop this recommendation first | 7000 | 400 |

servers:
  - url: https://restapi.netmera.com
    description: Netmera REST API

security:
  - NetmeraApiKey: []

tags:
  - name: Bulk Notifications
    description: |
      Send push notifications to an audience defined by tags, segments, profile attributes,
      location or all users. Covers mobile and web push, rich media, carousel, slider,
      multilanguage, custom buttons, scheduling and speed control.
  - name: Transactional Notifications
    description: |
      Send pre-configured notification definitions to individual users, and create those
      definitions via the API.
  - name: Push Statistics
    description: Retrieve aggregate notification statistics and per-user delivery results.
  - name: Push Approval
    description: Approve a previously created push message.
  - name: Email
    description: Send emails, trigger email templates, and manage email addresses and permissions.
  - name: SMS
    description: Send SMS messages and manage MSISDNs and SMS permissions.
  - name: WhatsApp
    description: Manage WhatsApp permissions and numbers.
  - name: Events
    description: Fire custom events associated with a specific user.
  - name: Users
    description: Push permission management and permanent user deletion.
  - name: Tags
    description: Add and remove tags on users.
  - name: Categories
    description: Read and write category-based opt-in preferences.
  - name: Profile Attributes
    description: Read, set, unset, append to and delete user profile attributes.
  - name: Devices
    description: Retrieve a user's devices and page through all device tokens.
  - name: Segments
    description: List segments and the users inside a segment.
  - name: Targeting
    description: Count the unique users matching a targeting query.
  - name: Geofence
    description: Create geofences via the REST API.
  - name: Inbox
    description: Fetch, display and manage push notifications stored on the server.

paths:
  /rest/3.0/sendBulkNotification:
    post:
      operationId: sendBulkNotification
      tags: [Bulk Notifications]
      summary: Send bulk notification
      description: |
        Sends a push notification to a target audience.

        The minimal payload requires `message.title`, `message.platforms`, `message.text` and a
        non-empty `target`. To reach every user of the selected platforms, set
        `target.sendToAll` to `true`.

        ### Targeting notes

        - The `target` object cannot be empty.
        - Profile attribute codes are listed in **Netmera Panel > Developers > Profile Attributes > Code**.
        - When multiple attributes are defined in the same `target.profile` object, the
          conditions are evaluated with AND logic.
        - `tag` and `segment` accept a single value, an array of values (OR), or the operators
          `$or`, `$and` and `$not`.

        ### Platform-specific overrides

        `click` provides the default click action. The `ios` and `android` blocks override
        `title`, `text` and `click` per platform. Supported click actions are `url` (opens a web
        page, iOS and Android), `deeplink` (launches the app via a registered deeplink URI, iOS
        and Android) and `doNothing` (Android only — no automatic click handling is applied, so a
        custom click handler is required).

        ### Notification grouping

        Assigning the same `threadId` to related notifications groups them in the notification
        center. Supported on iOS and Android, on both `sendBulkNotification` and
        `createNotificationDefinition`.

        ### Custom buttons

        Button sets must first be created in the panel under **Settings > Button Sets**. The
        button name itself is not mandatory. For platform-specific delivery, specify the desired
        platforms or browsers separately (Android, iOS for mobile; FIREFOX, EDGE, MACOS, CHROME
        for web). With `buttonSet.setAttrOrTag`, a button click can set a profile attribute or a
        tag — the button click action must be set to **Open App**, and the operation is triggered
        after the push open event inside the application module.

        ### Android live push update

        Send the notification first and save the `NotificationKey` returned in the response.
        To modify that notification afterwards, send a new request with
        `message.customJson.refID` set to the saved notification key value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkNotificationRequest'
            examples:
              minimal:
                summary: Minimal required parameters
                value:
                  message:
                    title: Push Notification Title
                    platforms: [IOS, ANDROID]
                    text: This is the push notification text!
                  target:
                    sendToAll: true
              platformTitles:
                summary: Platform-specific titles
                value:
                  message:
                    title: New Product Launch
                    platforms: [IOS, ANDROID]
                    text: Exciting news! Our latest product is now available.
                    ios:
                      title: Check it Out!
                    android:
                      title: Discover Now!
                  target:
                    sendToAll: true
              carousel:
                summary: Carousel push
                value:
                  platforms: [ANDROID, IOS]
                  text: Explore our Products
                  message: Check out our latest offerings!
                  title: Product Showcase
                  click:
                    url: https://www.example.com/products
                  ios:
                    title: Discover on iOS
                    carousel:
                      - title: Featured Product
                        content: Explore our flagship item.
                        itemImageUrl: https://example.com/images/product1.jpg
                        clickAction:
                          action: DEEP_LINK
                          url: https://www.example.com/products/featured
                          deeplinkType: URL
                          deepLinkUrl: https://example.com/deeplink/featured
                      - title: New Arrival
                        content: Check out the latest addition to our collection.
                        itemImageUrl: https://example.com/images/newarrival.jpg
                  android:
                    title: Discover on Android
                    carousel:
                      - title: Special Offer
                        content: Do not miss out on our exclusive discount.
                        itemImageUrl: https://example.com/images/specialoffer.jpg
                      - title: Top Picks
                        content: Explore our curated selection of top products.
                        itemImageUrl: https://example.com/images/toppicks.jpg
                        clickAction:
                          action: DEEP_LINK
                          url: https://www.example.com/products/toppicks
                          deeplinkType: URL
                          deepLinkUrl: https://example.com/deeplink/toppicks
              slider:
                summary: Slider push
                value:
                  platforms: [ANDROID, IOS]
                  text: Exciting News!
                  message: Check out the latest updates.
                  title: New Features Alert
                  click:
                    deeplink: https://www.example.com
                  ios:
                    title: iOS Version
                    slider:
                      - itemImageUrl: https://example.com/ios_image1.png
                        clickAction:
                          url: https://www.example.com
                      - itemImageUrl: https://example.com/ios_image2.png
                  android:
                    title: Android Update
                    slider:
                      - itemImageUrl: https://example.com/android_image1.png
                        clickAction:
                          url: https://www.example.com
                      - itemImageUrl: https://example.com/android_image2.png
              multilanguage:
                summary: Multilanguage
                value:
                  message:
                    title: New Update Available
                    platforms: [IOS, ANDROID]
                    text: Explore exciting features in the latest update!
                    customJson:
                      key1: value1
                    click:
                      deeplink: https://www.netmera.com
                  languages:
                    English:
                      title: New Features
                      text: Discover what is new in this update.
                      click:
                        deeplink: https://www.netmera.com
                    Turkish:
                      title: Yeni Özellikler
                      text: Bu güncellemede neler yeni öğrenin.
                      click:
                        deeplink: https://www.netmera.com
                  target:
                    sendToAll: true
              customButton:
                summary: Custom button (Android)
                description: "Button sets must be created in the panel under Settings > Button Sets. Format is `$buttonSetName: $actionUrl`."
                value:
                  message:
                    title: New Offer Alert
                    platforms: [ANDROID]
                    text: Exciting deals await you!
                    buttonSet:
                      id: 1
                      "Yes": https://netmera.com/yes-feedback
                      "No": https://netmera.com/no-feedback
                  target:
                    sendToAll: true
              buttonSetProfileAttribute:
                summary: Set profile attribute with button set
                value:
                  message:
                    title: New Offer Alert
                    platforms: [ANDROID]
                    text: Exciting deals await you!
                    buttonSet:
                      id: 4
                      setAttrOrTag:
                        Real Madrid:
                          setOnClick: PROFILE_ATTR
                          attrName: Favorite Team
                          attrValue: Real Madrid
                        Barcelona:
                          setOnClick: PROFILE_ATTR
                          attrName: Favorite Team
                          attrValue: Barcelona
                  target:
                    sendToAll: true
              buttonSetTag:
                summary: Set tag with button set
                value:
                  message:
                    title: New Offer Alert
                    platforms: [ANDROID]
                    text: Exciting deals await you!
                    buttonSet:
                      id: 4
                      setAttrOrTag:
                        Real Madrid:
                          setOnClick: Favorite Team
                          tagName: Real Madrid Fans
                        Barcelona:
                          setOnClick: Favorite Team
                          tagName: Barcelona Fans
                  target:
                    sendToAll: true
              androidLivePushUpdate:
                summary: Android live push update
                description: Send with the saved NotificationKey as `refID` to modify a notification already delivered.
                value:
                  message:
                    title: Push Notification Title
                    platforms: [ANDROID]
                    text: This is the push notification text!
                    customJson:
                      refID: "1000"
                  target:
                    sendToAll: true
              androidLivePushUpdateWithSound:
                summary: Android live push update with sound
                value:
                  message:
                    title: Push Notification Title
                    platforms: [ANDROID]
                    text: This is the push notification text!
                    android:
                      sound: default
                    customJson:
                      refID: notification_id
                  target:
                    sendToAll: true
              notificationGrouping:
                summary: Notification grouping with threadId
                value:
                  message:
                    title: Match Update
                    platforms: [ANDROID, IOS]
                    text: Goal! Your team has scored.
                    threadId: matchUpdates
                  target:
                    sendToAll: true
              webPush:
                summary: Web bulk notification
                description: If `platforms` contains CHROME or FIREFOX, `iconUrl` must exist.
                value:
                  message:
                    title: Important Update
                    personalizedTitle: "@{titleHere}"
                    platforms: [CHROME, MACOS, FIREFOX]
                    text: Please review the latest changes.
                    wpChromeImage: <image-url>
                    interactionRequired: true
                    click:
                      url: https://www.netmera.com
                    iconUrl: <icon-url>
                  target:
                    sendToAll: true
              webPushCustomButton:
                summary: Web bulk notification with custom button
                value:
                  message:
                    title: New Features Announcement
                    platforms: [CHROME]
                    text: Exciting updates just for you!
                    iconUrl: https://netmera.com/img/cropped_logo.png
                    buttonSet:
                      id: 1
                      "Yes": https://netmera.com/yes-feedback
                      "No": https://netmera.com/no-feedback
                  target:
                    sendToAll: true
              targetSingleTag:
                summary: Target a tag
                value:
                  message:
                    title: Sports Update
                    platforms: [IOS, ANDROID]
                    text: Get the latest sports news and updates!
                  target:
                    tag: Sport
              targetMultipleTags:
                summary: Target multiple tags (OR)
                description: "Users with any of the given tags receive the notification. Equivalent to `{\"$or\": [...]}`."
                value:
                  message:
                    title: Updates for You
                    platforms: [IOS, ANDROID]
                    text: Check out the latest updates tailored for your interests!
                  target:
                    tag: [Sport, Casual]
              targetTagsAnd:
                summary: Target multiple tags (AND)
                description: Users with all of the given tags receive the notification.
                value:
                  message:
                    title: Exclusive Sports & Casual Updates
                    platforms: [IOS, ANDROID]
                    text: Explore the latest updates in sports and casual topics just for you!
                  target:
                    tag:
                      $and: [Sport, Casual]
              targetTagsNot:
                summary: Target multiple tags (NOT)
                description: Users who do not have any of the given tags receive the notification.
                value:
                  message:
                    title: General Updates
                    platforms: [IOS, ANDROID]
                    text: Explore the latest updates and news tailored for you!
                  target:
                    tag:
                      $not: [Sport, Casual]
              targetProfileOr:
                summary: Target profile attributes with $or and $exists
                value:
                  message:
                    title: Special Announcement
                    platforms: [ANDROID]
                    text: Check out our latest special announcement just for you!
                  target:
                    profile:
                      $or:
                        att1: [val1, val2, val3]
                        att2: [val4]
                      name:
                        $exists: true
              targetSegment:
                summary: Target a segment
                value:
                  message:
                    title: Exclusive Offer
                    platforms: [IOS, ANDROID]
                    text: As a valued frequent user, enjoy an exclusive offer just for you!
                  target:
                    segment: frequent_users
              targetSegmentsAnd:
                summary: Target multiple segments (AND)
                value:
                  message:
                    title: Important Update
                    platforms: [IOS, ANDROID]
                    text: Please be aware of this critical update.
                  target:
                    segment:
                      $and: [frequent_users, churn]
              targetProfileAttribute:
                summary: Target profile attributes
                description: The notification is sent to users who satisfy all listed attributes.
                value:
                  message:
                    title: Special Offer
                    platforms: [IOS, ANDROID]
                    text: Hello John! Check out our exclusive special offer just for you.
                  target:
                    profile:
                      language: [English, Turkish]
                      name: John
              targetArrayAttribute:
                summary: Target array-type profile attributes
                description: Sent to users whose `arrayTest` attribute contains extSegment4 or extSegment5 AND whose `kvkkTest` is true.
                value:
                  message:
                    title: Push Notification Title
                    platforms: [IOS, ANDROID]
                    text: This is the push notification text!
                  target:
                    profile:
                      arrayTest: [extSegment4, extSegment5]
                      kvkkTest: true
              personalized:
                summary: Personalized push
                description: |
                  Sent to users who have the profile attributes referenced as placeholders in
                  `personalizedMessage`. A user with `name` = Susan and `surname` = Smith
                  receives "Susan, Smith". Users missing any placeholder attribute receive the
                  default `text`.
                value:
                  message:
                    title: Special Offer
                    platforms: [IOS, ANDROID]
                    text: "Hello, [Name] [Surname]! Check out our exclusive special offer."
                    personalizedMessage: "@{name}, @{surname}"
                  target:
                    sendToAll: true
              targetLocation:
                summary: Target a specific location
                value:
                  message:
                    title: Special Offer in Your Area
                    platforms: [IOS, ANDROID]
                    text: Hello! Discover exclusive deals near you.
                  target:
                    location:
                      latitude: 42.892
                      longitude: 21.355
                      radius: 50
              withCategories:
                summary: With categories
                description: Categories must be pre-defined in the panel under Settings > Message Categories.
                value:
                  message:
                    title: Special Announcement
                    platforms: [IOS, ANDROID]
                    text: Exciting news! Check out the latest updates.
                    categories: [announcements, promotions]
                  target:
                    sendToAll: true
              withSoundAndVibration:
                summary: With sound and vibration
                description: Sounds must be pre-defined in the panel under Developers > Sounds, per platform.
                value:
                  message:
                    title: Special Announcement
                    platforms: [IOS, ANDROID]
                    text: Exciting news! Check out the latest updates.
                    android:
                      vibration: true
                      sound: android_sound
                      bigText: Important details here
                      thumbnailUrl: https://example.com/android_thumbnail.jpg
                    ios:
                      sound: ios_sound
                      thumbnailUrl: https://example.com/ios_thumbnail.jpg
                  target:
                    sendToAll: true
              withBadge:
                summary: With badge (iOS only)
                value:
                  message:
                    title: Special Alert
                    platforms: [IOS, ANDROID]
                    text: Urgent notification! Take immediate action.
                    ios:
                      badge: true
                  target:
                    sendToAll: true
              withDeeplink:
                summary: With deeplink
                value:
                  message:
                    title: Special Offer
                    platforms: [IOS, ANDROID]
                    text: Check out our exclusive offer!
                    customJson:
                      key1: value1
                    click:
                      deeplink: https://www.google.com
                  target:
                    sendToAll: true
              withUrl:
                summary: With URL
                value:
                  message:
                    title: Special Offer
                    platforms: [IOS, ANDROID]
                    text: Check out our exclusive offer!
                    customJson:
                      key1: value1
                    click:
                      url: https://www.google.com
                  target:
                    sendToAll: true
              withDoNothing:
                summary: With "Do Nothing" (Android only)
                value:
                  message:
                    title: Special Notification
                    platforms: [IOS, ANDROID]
                    text: This is a notification with a custom action
                    customJson:
                      key1: value1
                    click:
                      doNothing: true
                  target:
                    sendToAll: true
              withRichMedia:
                summary: With rich media
                value:
                  message:
                    title: Special Notification
                    platforms: [IOS, ANDROID]
                    text: This is a notification with media content
                    ios:
                      mediaUrl: https://media.example.com/ios_image.jpg
                      title: iOS Title
                      subtitle: iOS Subtitle
                      thumbnailUrl: https://media.example.com/ios_thumbnail.jpg
                    android:
                      mediaUrl: https://media.example.com/android_image.jpg
                      title: Android Title
                      subtitle: Android Subtitle
                      bigText: Big Text for Android
                      thumbnailUrl: https://media.example.com/android_thumbnail.jpg
                  target:
                    sendToAll: true
              withCustomParameters:
                summary: With custom parameters
                value:
                  message:
                    title: Special Notification
                    platforms: [IOS, ANDROID]
                    text: This is a notification with custom JSON data
                    customJson:
                      key: value
                  target:
                    sendToAll: true
              scheduled:
                summary: Scheduled notification
                value:
                  message:
                    title: Scheduled Push
                    platforms: [IOS, ANDROID]
                    text: This is a scheduled push notification
                  target:
                    sendToAll: true
                  schedule:
                    startTime: "2024-02-01T15:30:00"
                    localTimezone: false
              inPackages:
                summary: Send in packages (speed control)
                value:
                  message:
                    title: Push title
                    platforms: [IOS, ANDROID]
                    text: This is a bulk push notification with speed control
                  target:
                    sendToAll: true
                  speed:
                    intervalMins: 5
                    packageSize: 10000
              otherParameters:
                summary: Other parameters (extRef, limit, ttl, inbox, doNotNotify)
                value:
                  extRef: 1h63af
                  message:
                    title: Push title
                    platforms: [IOS, ANDROID]
                    text: This is a bulk push notification with extended options
                    limit: 100000
                    android:
                      limit: 20000
                    ios:
                      limit: 80000
                    ttl: 15d
                    inbox: true
                    doNotNotify: false
                  target:
                    sendToAll: true
              platformSpecificClick:
                summary: Platform-specific click actions
                value:
                  message:
                    title: New Feature!
                    text: Discover platform-specific experience
                    platforms: [IOS, ANDROID]
                    click:
                      url: https://www.example.com/default
                    ios:
                      title: iOS Special
                      click:
                        url: https://www.example.com/ios
                    android:
                      title: Android Special
                      click:
                        deeplink: https://www.example.com/android
                  target:
                    sendToAll: true
      responses:
        '200':
          description: |
            The notification was accepted. The response contains the notification key of the
            created push, shown in the guide as `NotificationKey: 1000`. Save this value to
            reference the notification later, for example for an Android live push update.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notificationKey:
                    description: Key of the created notification.
                    oneOf:
                      - type: integer
                      - type: string
                additionalProperties: true

  /rest/3.0/sendNotification:
    post:
      operationId: sendNotification
      tags: [Transactional Notifications]
      summary: Send transactional notification
      description: |
        Sends a pre-configured notification definition to individual users. The definition is
        created either in the Netmera Panel or with `createNotificationDefinition`, and is
        referenced by its `notificationKey`.

        This endpoint also delivers email and SMS notifications when the referenced
        notification key belongs to an email or SMS definition — target the user with
        `target.email` or `target.extId` accordingly.

        ### Limits and behavior

        - A maximum of **1000 unique external IDs or device tokens** per request. Distribute
          larger audiences across multiple requests.
        - If a custom parameter in the request differs from the parameter configured in the
          panel, the request value overwrites the panel value.
        - The request body accepts either a single object or an array of objects. Use an array
          to send different notifications or different parameters in one call.
        - `lastActiveDevice: true` sends only to the user's last active device;
          `false` sends to all devices.

        ### Button renaming

        In both `sendNotification` and `createNotificationDefinition`, the `buttonSet.buttonNames`
        field renames buttons by mapping each old button name to a new one. If `buttonNames` is
        omitted, notifications are sent with the existing button names. Using this feature on iOS
        requires the Service Extension integration.

        ### Deeplink placeholders

        Placeholders such as `@{extId}` used inside a deeplink must resolve to real user data.
        If a placeholder does not exist for a user, delivery to that user fails even when the
        user matches the target.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SendNotificationRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/SendNotificationRequest'
            examples:
              single:
                summary: Single request by external ID
                value:
                  notificationKey: "106"
                  message:
                    params:
                      name: John Doe
                  target:
                    extId: user_id_in_your_system
              singleDeviceToken:
                summary: Single request by device token
                value:
                  notificationKey: "106"
                  message:
                    params:
                      name: John Doe
                  target:
                    deviceToken: APAaxpo02......12pxa
              chunksDifferent:
                summary: In chunks — different notifications or parameters
                value:
                  - notificationKey: "106"
                    message:
                      params:
                        name: John Doe
                    target:
                      extId: user_id_in_your_system_1
                  - notificationKey: "107"
                    message:
                      params:
                        price: 25
                    target:
                      extId: user_id_in_your_system_2
              chunksDifferentTokens:
                summary: In chunks with device tokens — different notifications or parameters
                value:
                  - notificationKey: "106"
                    message:
                      params:
                        name: John Doe
                    target:
                      deviceToken: APAaxpo02......12pxa
                  - notificationKey: "107"
                    message:
                      params:
                        price: 25
                    target:
                      deviceToken: APAaxpo02......21kde
              chunksSame:
                summary: In chunks — same notification and parameters
                value:
                  notificationKey: "106"
                  message:
                    params:
                      name: John Doe
                  target:
                    extId: [user_id_in_your_system_1, user_id_in_your_system_2]
              chunksSameTokens:
                summary: In chunks with device tokens — same notification and parameters
                value:
                  notificationKey: "106"
                  message:
                    params:
                      name: John Doe
                  target:
                    deviceToken: [APAaxpo02......21kde, APAaxpo02......32coa]
              badgeCount:
                summary: With badge count
                value:
                  notificationKey: "15107"
                  message:
                    params:
                      _nm_badge_count: 5
                  target:
                    extId: your_xid
              withDeeplink:
                summary: With deeplink
                value:
                  notificationKey: "3"
                  target:
                    extId: user123
                  message:
                    params: {}
                    click:
                      deeplink: https://www.google.com
              withUrl:
                summary: With URL
                value:
                  notificationKey: "3"
                  target:
                    extId: user123
                  message:
                    params: {}
                    click:
                      url: https://www.netmera.com
              withRichMedia:
                summary: With rich media
                value:
                  notificationKey: "3"
                  target:
                    extId: user123
                  message:
                    params: {}
                    ios:
                      mediaUrl: https://example.com/media-ios.mp4
                      title: iOS Title
                      subtitle: iOS Subtitle
                      thumbnailUrl: https://example.com/thumbnail-ios.png
                    android:
                      mediaUrl: https://example.com/media-android.mp4
                      title: Android Title
                      subtitle: Android Subtitle
                      bigText: Android Big Text
                      thumbnailUrl: https://example.com/thumbnail-android.png
              withSoundAndVibration:
                summary: With sound and vibration
                value:
                  notificationKey: "3"
                  target:
                    extId: user123
                  message:
                    params: {}
                    ios:
                      sound: custom_ios_sound
                    android:
                      vibration: true
                      sound: custom_android_sound
              withCustomParameters:
                summary: With custom parameters
                value:
                  notificationKey: "4"
                  target:
                    extId: user456
                  message:
                    params: {}
                    customJson:
                      key: custom_value
              otherParameters:
                summary: Other parameters (ttl, inbox, doNotNotify)
                value:
                  notificationKey: "4"
                  target:
                    extId: user456
                  message:
                    params: {}
                    ttl: 15d
                    inbox: true
                    doNotNotify: false
              lastActiveDevice:
                summary: To last active device
                value:
                  notificationKey: "2071"
                  lastActiveDevice: true
                  message:
                    params:
                      name: John
                  target:
                    extId: "123123123"
              profileAttributeTarget:
                summary: Target by profile attribute
                description: |
                  `pa` holds profile attribute targeting. `pb` is the attribute code — replace it
                  with any code from Developers > Profile Attributes > Code.
                value:
                  notificationKey: "1000"
                  target:
                    pa:
                      pb: Smith
              profileAttributeMultiple:
                summary: Target by multiple profile attribute values
                description: |
                  Values inside the same attribute are connected with OR, so this reaches users
                  whose surname is Smith or Johnson.
                value:
                  notificationKey: "1000"
                  target:
                    pa:
                      pb: [Smith, Johnson]
              renameButtons:
                summary: Rename button set buttons
                value:
                  notificationKey: "1000"
                  target:
                    extId: [exid, exid22]
                  message:
                    buttonSet:
                      id: 1
                      buttonNames:
                        button1: 15 GB-10 USD
                        button2: 15 GB-15 USD
                      15 GB-10 USD: https://www.google.com
                      15 GB-15 USD: https://www.youtube.com
              webTransactional:
                summary: Web transactional push
                value:
                  notificationKey: "2071"
                  target:
                    extId: YOUR USER IDENTIFIER
                  message:
                    params: {}
              webTransactionalDeeplink:
                summary: Web transactional push with deeplink
                value:
                  notificationKey: "1408"
                  target:
                    extId: exidname
                  message:
                    params: {}
                    click:
                      deeplink: https://www.netmera.com?id=5&name=@{exid}&cat=webpush
              email:
                summary: Email by notification key
                value:
                  notificationKey: "12"
                  target:
                    email: YOUR USER IDENTIFIER
                  message:
                    params: {}
              sms:
                summary: SMS by notification key
                value:
                  notificationKey: "3964"
                  target:
                    extId: YOUR USER IDENTIFIER
                  message:
                    params: {}
      responses:
        '200':
          description: |
            The notification was accepted for delivery. Returns an empty JSON object. No
            message or delivery identifier is returned; use `getPushStats` or
            `getPushResult` with the notification key to inspect delivery.
          content:
            application/json:
              schema:
                type: object
                description: Empty object. The API returns no fields on success.
              example: {}
          x-netmera-verified: '2026-09-06'
        '400':
          description: |
            `notificationKey` was sent as a number instead of a string, or another field
            was sent with the wrong type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 2004
                error: Field 'notificationKey' should be a text
          x-netmera-verified: '2026-09-06'

  /rest/3.0/createNotificationDefinition:
    post:
      operationId: createNotificationDefinition
      tags: [Transactional Notifications]
      summary: Create notification definition
      description: |
        Creates a transactional notification definition. The returned `notificationKey` is the
        identifier used in later `sendNotification` calls, connecting each transactional message
        to its predefined definition.

        A definition can also be created through the Netmera Panel instead of this endpoint.

        Notification grouping via `threadId` and button renaming via `buttonSet.buttonNames` are
        both supported here as well as on `sendBulkNotification` / `sendNotification`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationDefinitionRequest'
            examples:
              full:
                summary: Definition with platform blocks and hook
                value:
                  title: New Campaign
                  message: Exciting updates await you!
                  personalizedMessage: "Explore now: @{message}"
                  inbox: false
                  platforms: [IOS, ANDROID]
                  categories: [1, category]
                  click:
                    deeplink: https://www.google.com
                  ios:
                    mediaUrl: ios_media_url_here
                    title: New Feature Alert
                    subtitle: Discover what is new
                    sound: ios_sound
                    thumbnailUrl: <ios-thumbnail-url>
                  android:
                    mediaUrl: android_media_url_here
                    title: New Feature Alert
                    subtitle: Discover what is new
                    sound: android_sound
                    vibration: true
                    bigText: Explore the latest features
                    thumbnailUrl: <android-thumbnail-url>
                  hook:
                    name: hook_name
                    params:
                      key1: val1
                      key2: val2
              personalizedSubtext:
                summary: Personalized message and subtext
                value:
                  title: New Announcement
                  message: Discover our latest updates!
                  personalizedMessage: "Explore now: @{message}"
                  personalizedSubText: "personalized subtext here : {@email} "
                  inbox: false
                  labels: Apple
                  platforms: [IOS, ANDROID]
                  click:
                    deeplink: https://www.netmera.com
                  ios:
                    mediaUrl: ios_media_url_here
                    title: Exciting News
                    subtitle: Stay informed
                    sound: ios_sound
                    thumbnailUrl: <ios-thumbnail-url>
                  android:
                    mediaUrl: android_media_url_here
                    title: Exciting News
                    subtitle: Stay informed
                    sound: android_sound
                    vibration: true
                    bigText: Explore the latest announcement
                    thumbnailUrl: <android-thumbnail-url>
                  hook:
                    name: hook_name
                    params:
                      key1: val1
                      key2: val2
              buttonSet:
                summary: With a button set
                value:
                  title: Important Survey
                  message: We would love to hear your feedback!
                  inbox: false
                  platforms: [IOS, ANDROID]
                  click:
                    deeplink: https://www.netmera.com
                  buttonSet:
                    id: 1
                    "Yes": https://netmera.com/yes-feedback
                    "No": https://netmera.com/no-feedback
              buttonSetProfileAttribute:
                summary: Set profile attribute with button set
                value:
                  title: Important Survey
                  message: We would love to hear your feedback!
                  inbox: false
                  platforms: [IOS, ANDROID]
                  click:
                    deeplink: https://www.netmera.com
                  buttonSet:
                    id: 4
                    setAttrOrTag:
                      Real Madrid:
                        setOnClick: PROFILE_ATTR
                        attrName: Favorite Team
                        attrValue: Real Madrid
                      Barcelona:
                        setOnClick: PROFILE_ATTR
                        attrName: Favorite Team
                        attrValue: Barcelona
              buttonSetTag:
                summary: Set tag with button set
                value:
                  title: Important Survey
                  message: We would love to hear your feedback!
                  inbox: false
                  platforms: [IOS, ANDROID]
                  click:
                    deeplink: https://www.netmera.com
                  buttonSet:
                    id: 4
                    setAttrOrTag:
                      Real Madrid:
                        setOnClick: Favorite Team
                        tagName: Real Madrid Fans
                      Barcelona:
                        setOnClick: Favorite Team
                        tagName: Barcelona Fans
              renameButtons:
                summary: Rename button set buttons
                value:
                  title: Important Survey
                  message: We would like to get a feedback
                  inbox: false
                  platforms: [ANDROID]
                  click:
                    deeplink: https://www.netmera.com
                  buttonSet:
                    id: 1
                    buttonNames:
                      button1: 15 GB-10 USD
                      button2: 15 GB-15 USD
                    15 GB-10 USD: https://www.google.com
                    15 GB-15 USD: https://www.youtube.com
              carousel:
                summary: Carousel push definition
                value:
                  platforms: [ANDROID, IOS]
                  text: Explore our Products
                  message: Check out our amazing image slider!
                  title: Product Showcase
                  click:
                    url: https://www.example.com/products
                  ios:
                    title: Discover on iOS
                    carousel:
                      - title: Featured Product
                        content: Explore our flagship item.
                        itemImageUrl: https://example.com/images/product1.jpg
                        clickAction:
                          action: DEEP_LINK
                          url: https://www.example.com/products/featured
                          deeplinkType: URL
                          deepLinkUrl: https://example.com/deeplink/featured
                      - title: New Arrival
                        content: Check out the latest addition to our collection.
                        itemImageUrl: https://example.com/images/newarrival.jpg
                  android:
                    title: Discover on Android
                    carousel:
                      - title: Special Offer
                        content: Do not miss out on our exclusive discount.
                        itemImageUrl: https://example.com/images/specialoffer.jpg
                      - title: Top Picks
                        content: Explore our curated selection of top products.
                        itemImageUrl: https://example.com/images/toppicks.jpg
                        clickAction:
                          action: DEEP_LINK
                          url: https://www.example.com/products/toppicks
                          deeplinkType: URL
                          deepLinkUrl: https://example.com/deeplink/toppicks
              slider:
                summary: Slider push definition
                value:
                  message:
                    platforms: [ANDROID, IOS]
                    text: Exciting announcement! New features are now available.
                    message: Check out the latest updates.
                    title: New Features Alert
                    click:
                      deeplink: https://www.netmera.com
                    ios:
                      title: Discover on iOS
                      slider:
                        - itemImageUrl: https://example.com/ios-image1.png
                          clickAction:
                            url: https://www.netmera.com
                        - itemImageUrl: https://example.com/ios-image2.png
                    android:
                      title: Explore on Android
                      slider:
                        - itemImageUrl: https://example.com/android-image1.png
                          clickAction:
                            url: https://www.netmera.com
                        - itemImageUrl: https://example.com/android-image2.png
              webTransactional:
                summary: Web transactional push definition
                value:
                  title: New Announcement
                  personalizedTitle: "@{titleHere}"
                  message: Discover our latest updates!
                  personalizedMessage: "Explore now: @{message}"
                  platforms: [CHROME, SAFARI, EDGE, YANDEX, FIREFOX, OPERA]
                  click:
                    deeplink: https://www.netmera.com
      responses:
        '200':
          description: |
            The definition was created. `notificationKey` is the identifier of the message
            definition, used in transactional message calls.

            The key is returned as an integer here, but `sendNotification` requires it as a
            string. Convert it before passing it on, or the call is rejected with Netmera
            error code 2004.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notificationKey:
                    type: integer
                    description: Identifier of the created message definition.
              example:
                notificationKey: 96
          x-netmera-verified: '2026-09-06'

  /rest/3.0/getPushStats:
    get:
      operationId: getPushStats
      tags: [Push Statistics]
      summary: Get push statistics
      description: |
        Returns notification statistics, either for a single notification key or for every
        notification in a date range.

        Provide `notificationKey` to fetch the stats of one notification, or `start` and `end`
        to fetch the stats of all notifications inside a time range.
      parameters:
        - name: notificationKey
          in: query
          required: false
          description: |
            Notification key of the message whose statistics are requested. Required when
            querying by notification key.
          schema:
            type: integer
          example: 234
        - name: start
          in: query
          required: false
          description: |
            Start date in milliseconds. Required when querying by date range — it determines
            the beginning of the time range.
          schema:
            type: integer
            format: int64
          example: 1501132423424
        - name: end
          in: query
          required: false
          description: |
            End date in milliseconds. Required when querying by date range — it marks the
            conclusion of the time range.
          schema:
            type: integer
            format: int64
          example: 150122342432
      responses:
        '200':
          description: Notification statistics.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PushStatsByKeyResponse'
                  - $ref: '#/components/schemas/PushStatsByDateRangeResponse'
              examples:
                byNotificationKey:
                  summary: Response for a single notification key
                  value:
                    notificationKey: 234
                    status: FINISHED
                    startDate: 1504790916883
                    endDate: 1504790916917
                    stats:
                      - platform: IOS
                        sent: 100
                        failed: 5
                        clicked: 35
                      - platform: ANDROID
                        sent: 300
                        failed: 25
                        clicked: 98
                      - platform: WP
                        sent: 30
                        failed: 1
                        clicked: 23
                byDateRange:
                  summary: Response for a date range
                  value:
                    messages:
                      - status: FINISHED
                        stats:
                          - platform: IOS
                            sent: 6
                            failed: 0
                            clicked: 0
                          - platform: ANDROID
                            sent: 0
                            failed: 0
                            clicked: 0
                        startDate: 1504790916883
                        endDate: 1504790916917
                        notificationKey: 749
                      - status: SENDING
                        stats:
                          - platform: IOS
                            sent: 1
                            failed: 0
                            clicked: 1
                          - platform: ANDROID
                            sent: 0
                            failed: 0
                            clicked: 0
                        startDate: 1504790402907
                        endDate: 1504790402909
                        notificationKey: 748

  /rest/3.0/getPushResult:
    get:
      operationId: getPushResult
      tags: [Push Statistics]
      summary: Get push results
      description: |
        Retrieves per-user push results (success or failure). If `start` and `end` are not
        specified, the results of the last 2 weeks are returned.

        ### Pagination

        The response contains a `nextPage` URL. To fetch the next page of results, send a
        request to that value, for example
        `https://restapi.netmera.com/rest/3.0/getPushResult?offset=hJbolUuHucJ9dd&max=10`.

        ### Email and SMS

        When the notification key belongs to an email or SMS notification sent previously, the
        response returns the success and failure details of each individual email or SMS.
      parameters:
        - name: notificationKey
          in: query
          required: false
          description: |
            Notification ID on the panel. Filters results to the given notification. The guide
            describes this parameter both as optional (filter) and as required for obtaining
            users' responses for a message.
          schema:
            type: string
          example: "106"
        - name: max
          in: query
          required: false
          description: Maximum number of result entries to fetch per page. Defaults to 10.
          schema:
            type: integer
            default: 10
          example: 10
        - name: extId
          in: query
          required: false
          description: External ID, to obtain the message results of a specific user.
          schema:
            type: string
          example: B4A92950-B0FD-43E6-B312-C3EE088890BD
        - name: token
          in: query
          required: false
          description: Device token, to obtain the message results of a specific device.
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: Start date in milliseconds. Sets the beginning of the time range.
          schema:
            type: integer
            format: int64
          example: 1557892331000
        - name: end
          in: query
          required: false
          description: End date in milliseconds. Marks the conclusion of the time range.
          schema:
            type: integer
            format: int64
          example: 1557892431000
        - name: offset
          in: query
          required: false
          description: |
            Pagination offset. Taken from the `nextPage` URL of a previous response rather than
            constructed manually.
          schema:
            type: string
          example: hJbolUuHucJ9dd
      responses:
        '200':
          description: A page of push results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushResultResponse'
              example:
                nextPage: https://restapi.netmera.com/rest/3.0/getPushResult?offset=hJbolUuHucJ9dd&max=10
                list:
                  - platform: IOS
                    status: FAILED
                    errorCode: "8"
                    installationId: C2Ii2ztdEaok0
                    errorMsg: INVALID_TOKEN
                    timeStamp: 1557819194426
                    msgTitle: Awesome Title
                    msgText: How is it going, Jon?
                  - platform: ANDROID
                    status: SUCCESS
                    installationId: U7IwgcM8phSmv
                    extId: B4A92950-B0FD-43E6-B312-C3EE088890BD
                    timeStamp: 1557819194426
                    msgTitle: Awesome Title
                    msgText: How is it going, Jon?

  /rest/3.0/sendPushApproval:
    post:
      operationId: sendPushApproval
      tags: [Push Approval]
      summary: Send push approval
      description: Approves a previously created push message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [messageId]
                properties:
                  messageId:
                    type: integer
                    description: ID of the message to approve.
            example:
              - messageId: 0
      responses:
        '200':
          description: The message was approved.
        '400':
          description: |
            No message exists with the given `messageId`. Netmera error code 5003.
            Documented in the Netmera Developer Guide; not verified against the live API.

  /rest/3.0/sendEmailAndSms:
    post:
      operationId: sendEmailAndSms
      tags: [Email, SMS]
      summary: Send email or SMS
      description: |
        Sends an email or an SMS, including the message content in the request instead of
        referencing a template created in the panel. The same endpoint is used to create a
        template for sending email or SMS to a user.

        Set `platforms` to `["EMAIL"]` with `target.email`, or to `["SMS"]` with
        `target.msisdn`.

        SMS sends additionally require `smsIysMessageType`. The field is not marked required
        in the schema because it does not apply to email sends.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSmsRequest'
            examples:
              email:
                summary: Email
                value:
                  target:
                    email: target_email@example.com
                  platforms: [EMAIL]
                  title: Your Account is Created
                  message: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head></head><body esd-custom-display-conditions="[]"><p class="esd-text">HELLO<br>SPACE<br></p></body></html>'
                  from: info@netmera.com
                  senderName: Netmera
                  subject: Your Account is Created
              emailTemplate:
                summary: Email template
                value:
                  target:
                    email: target_email
                  platforms: [EMAIL]
                  title: AccountCreationNotification
                  message: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head></head><body esd-custom-display-conditions="[]"><p class="esd-text">Hello,<br>This is a test email.</p></body></html>'
                  from: info@netmera.com
                  senderName: Netmera
                  subject: Account Creation Notification
              sms:
                summary: SMS
                value:
                  target:
                    msisdn: target_msisdn
                  platforms: [SMS]
                  title: Account Notification
                  message: "Your recent account activity: message"
                  smsHeader: NETMERA
              smsTemplate:
                summary: SMS template with IYS fields
                description: |
                  `smsIysMessageType` accepts "N" for Notification and "C" for Campaign, and
                  is required for SMS sends. `smsIysRecipientType` accepts "B" for Personal
                  and "T" for Trader.
                value:
                  target:
                    msisdn: target_msisdn
                  platforms: [SMS]
                  title: SMS Title
                  message: Hello, this is your SMS message.
                  smsHeader: NETMERA
                  smsIysMessageType: "N"
                  smsIysRecipientType: "B"
      responses:
        '200':
          description: |
            The message was accepted for delivery. The response returns the
            `notificationKey` of the definition created for this send, in the same shape
            as `createNotificationDefinition`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notificationKey:
                    type: integer
                    description: Identifier of the definition created for this send.
              example:
                notificationKey: 97
          x-netmera-verified: '2026-09-06'
        '400':
          description: |
            A required field is missing. On SMS sends, `smsIysMessageType` must be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 2004
                error: Please add smsIysMessageType parameter into request!
          x-netmera-verified: '2026-09-06'

  /rest/3.0/sendEmailWithAttachment:
    post:
      operationId: sendEmailWithAttachment
      tags: [Email]
      summary: Send email with attachment
      description: |
        Sends an email with one or more attachments, referencing a notification key created in
        the panel. Submit the request as `multipart/form-data`.

        The email size and the total size of the attachments must not exceed **10 MB**.

        Supported file types: `image/png`, `video/x-msvideo`, `video/mp4`, `video/mpeg`,
        `video/mpeg2`, `video/x-mpeg`, `image/gif`, `image/jpeg`, `image/x-png`,
        `image/x-citrix-png`, `image/x-citrix-jpeg`, `text/plain`,
        `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`,
        `application/vnd.ms-excel`, `text/csv`, `xlsx`, `xls`, `csv`, `txt`, `pdf`, `jpg`,
        `jpeg`, `png`, `gif`, `mpeg`, `mpeg-2`, `mp4`, `avi`.

        The guide documents this call against the host `https://netmera.com`, unlike the other
        endpoints which use `https://restapi.netmera.com`.
      servers:
        - url: https://netmera.com
          description: Host used for this endpoint in the Netmera Developer Guide.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [mailAttachment, to, notificationKey]
              properties:
                mailAttachment:
                  type: string
                  format: binary
                  description: The file to attach. More than one attachment may be added.
                to:
                  type: string
                  description: Recipient email address.
                  example: example@netmera.com
                notificationKey:
                  type: string
                  description: Notification key of the email definition created in the panel.
                  example: "1000"
      responses:
        '200':
          description: The email was accepted for delivery.

  /rest/3.0/sendBulkEmail:
    post:
      operationId: sendBulkEmail
      tags: [Email]
      summary: Send bulk email
      description: |
        Triggers an email template created in the Netmera panel by referencing its template ID.
        This is useful when email content is managed by an external system — such as a CRM —
        that passes send-time values directly to Netmera instead of the template being updated
        in the panel for each campaign.

        ### Capabilities

        | Capability | Description |
        | --- | --- |
        | Bulk email delivery | Send emails to a target audience group instead of a single user |
        | Template ID-based sending | Trigger a template created in the Netmera panel by referencing its ID |
        | Campaign-level custom parameters | Pass dynamic values as key-value pairs that map to placeholders defined in the template |
        | Attachment support | Include file attachments in the email delivery when required |

        ### How it works

        Each email template can contain placeholders such as `{DATE}`, `{TITLE}`, `{CONTENT}`
        or `{PDF_URL}`. Provide matching keys in `customParams`, and Netmera replaces each
        placeholder with the corresponding value at send time.

        ### Notes

        - If a placeholder exists in the template but no matching key is provided in
          `customParams`, that placeholder renders as empty in the delivered email.
        - The email template must be created in the Netmera panel before it is triggered
          via API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emailTemplateId, subject, sendToAll]
              properties:
                emailTemplateId:
                  type: integer
                  description: The ID of the email template to trigger.
                subject:
                  type: string
                  description: The email subject line for this send request.
                customParams:
                  type: object
                  description: |
                    Key-value pairs that map to placeholders defined in the template.
                  additionalProperties: true
                sendToAll:
                  type: boolean
                  description: Set to true to send to all users.
            example:
              emailTemplateId: 5
              subject: Daily Bulletin - May 15
              customParams:
                DATE: 16.05.2026
                TITLE: Market Summary
                CONTENT: BIST 100 increased today.
                PDF_URL: https://cdn.example.com/report.pdf
              sendToAll: true
      responses:
        '200':
          description: The bulk email was accepted for delivery.

  /rest/3.0/addEmail:
    post:
      operationId: addEmail
      tags: [Email]
      summary: Add emails
      description: |
        Uploads or updates a list of email addresses in Netmera.

        ### Reminders

        - If the email already exists (for example on a user with an ExtID, or a user previously
          added with this service), a new user is not created.
        - A new user is created in the dashboard only if no user with that email already exists.
          Such users have no installation ID, so the installation ID is not visible when
          searching by email or user ID in the People section.
        - Users created with `addEmail` can be viewed in the dashboard. However, if a new user is
          created from the SDK with the same email, the user initially created with `addEmail`
          is deleted. SDK information is considered master, and targeting is done on the SDK user.
        - This service can be used only to upload email lists. Upload can be done within the KB
          limit, without a maximum record limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emailList]
              properties:
                emailList:
                  type: array
                  description: Email addresses to add or update.
                  items:
                    type: string
            example:
              emailList: [example1@netmera.com, example2@gmail.com, example3@gmail.com]
      responses:
        '200':
          description: |
            The email list was accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/addMsisdn:
    post:
      operationId: addMsisdn
      tags: [SMS]
      summary: Add phone numbers
      description: |
        Adds users with the specified MSISDNs (phone numbers) to the Netmera platform.

        Including the country code is mandatory — phone numbers must be in the format
        `+90xxxxxxxx`.

        ### Reminders

        - If the MSISDN already exists (for example on a user with an ExtID, or a user previously
          added with this service), a new user is not created.
        - A new user is created in the dashboard only if no user with that information already
          exists. Such users have no installation ID, so the installation ID is not visible when
          searching by user ID in the People section.
        - Users created with this service can be viewed in the dashboard. However, if a new user
          is created from the SDK with the same MSISDN, the initially created user is deleted.
          SDK information is considered primary, and targeting is done on the SDK user.
        - This service can be used only to upload MSISDN lists. Upload can be done within the KB
          limit, without a maximum record limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [msisdnList]
              properties:
                msisdnList:
                  type: array
                  description: Phone numbers to add, each including the country code.
                  items:
                    type: string
            example:
              msisdnList: ["+90xxxxxxxx"]
      responses:
        '200':
          description: |
            The MSISDN list was accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/geofence/add:
    post:
      operationId: addGeofence
      tags: [Geofence]
      summary: Create geofence
      description: Creates a geofence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, latitude, longitude, radius]
              properties:
                title:
                  type: string
                  description: Geofence name shown on the dashboard.
                latitude:
                  type: number
                  description: Latitude of the center point.
                longitude:
                  type: number
                  description: Longitude of the center point.
                radius:
                  type: number
                  description: |
                    Radius value from the center point, used to search for users. The unit is
                    given by `unit` and defaults to KM.
                unit:
                  type: string
                  description: |
                    Unit of the radius. Can be KM, Miles or Meters. The default value is KM.
                groups:
                  type: array
                  description: Geofence groups.
                  items:
                    type: string
            example:
              title: Sample Geofence
              latitude: 38.43225
              longitude: 40.212421
              radius: 5
              unit: KM
              groups: [Sample Group]
      responses:
        '200':
          description: |
            The geofence was created. The response returns the identifier assigned to the
            new geofence.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Identifier assigned to the created geofence.
              example:
                id: 1000
          x-netmera-verified: '2026-09-06'

  /rest/3.0/fireEvents:
    post:
      operationId: fireEvents
      tags: [Events]
      summary: Fire events
      description: |
        Sends custom events associated with a specific user. Each event must include `extId` to
        identify the user and `name` to specify the event type. Additional attributes can be
        included as key-value pairs, based on the event schema defined in the Netmera panel.

        The body must be a JSON array of event objects.

        ### Implementation notes

        - Always send events server-side. Never expose the API key in client-side code.
        - Use ISO 8601 format for all timestamps.
        - Keep event names consistent with the defined taxonomy — inconsistent naming breaks
          segmentation.
        - Include a source event reference on conversion events to enable attribution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Event'
            examples:
              customEvent:
                summary: Custom event
                value:
                  - extId: id_in_my_system_1
                    name: ShareEvent
                    itemId: "4234"
                    channel: Facebook
              cancelOrderEvent:
                summary: Cancel order event
                description: |
                  The fields used here must be configured in the event schema through the
                  Netmera panel.
                value:
                  - extId: id_in_my_system_1
                    name: OrderCancelEvent
                    paymentMethod: Credit Card
                    subTotal: 20.0
                    itemCount: 4
                    grandTotal: 35.0
              aiQuerySubmitted:
                summary: Conversational AI — query submitted
                description: |
                  Each time a tracked user action occurs inside the tool handler of a conversational
                  AI app, the app backend sends a structured event to Netmera. Events originate from
                  the app server, not from the AI platform directly.
                value:
                  - extId: user_98765
                    name: AIQuerySubmitted
                    platform: chatgpt
                    queryText: 5-day trip to Barcelona under $2000
                    category: travel_planning
              aiConversionCompleted:
                summary: Conversational AI — conversion completed
                description: |
                  Sent from the app server when the user completes a conversion. `sourceEvent`
                  references the originating event so the conversion can be attributed to it.
                value:
                  - extId: user_98765
                    name: AIConversionCompleted
                    itemId: FLIGHT-BCN-001
                    revenue: 540.00
                    currency: USD
                    sourceEvent: AIQuerySubmitted
      responses:
        '200':
          description: |
            The events were accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/deleteUsersPermanently:
    post:
      operationId: deleteUsersPermanently
      tags: [Users]
      summary: Delete users permanently
      description: |
        Permanently deletes all user data from Netmera, including all associated devices,
        profile attributes, events and records for the specified users.

        This operation is irreversible. Once deleted, the data cannot be recovered. The endpoint
        is only available to accounts with data deletion access, which must be requested through
        the Netmera panel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [extIds]
              properties:
                extIds:
                  type: array
                  description: External user IDs to delete.
                  items:
                    type: string
            examples:
              single:
                summary: Delete one user
                value:
                  extIds: [externalid]
              byId:
                summary: Delete by numeric external ID
                value:
                  extIds: ["123456"]
      responses:
        '200':
          description: |
            The deletion request was accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/enablePush:
    post:
      operationId: enablePush
      tags: [Users]
      summary: Enable push permission
      description: |
        Opts in all devices of a user, or one specific device, for push notifications.
        Provide either `extId` or `deviceToken`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushPermissionRequest'
            examples:
              byExtId:
                summary: Opt-in by external user ID
                value:
                  extId: id_in_my_system_1
              byDeviceToken:
                summary: Opt-in by device token
                value:
                  deviceToken: my_device_token
      responses:
        '200':
          description: |
            The opt-in request was accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/disablePush:
    post:
      operationId: disablePush
      tags: [Users]
      summary: Disable push permission
      description: |
        Opts out all devices of a user, or one specific device, from receiving push
        notifications. Provide either `extId` or `deviceToken`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushPermissionRequest'
            examples:
              byExtId:
                summary: Opt-out by external user ID
                value:
                  extId: id_in_my_system_1
              byDeviceToken:
                summary: Opt-out by device token
                value:
                  deviceToken: my_device_token
      responses:
        '200':
          description: |
            The opt-out request was accepted. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/tagUsers:
    post:
      operationId: tagUsers
      tags: [Tags]
      summary: Add tags to users
      description: Adds one or more tags to the specified users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUsersRequest'
            example:
              tag: Sport
              extIds: [id1, id2]
      responses:
        '200':
          description: |
            The tag was added. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/untagUsers:
    post:
      operationId: untagUsers
      tags: [Tags]
      summary: Remove tags from users
      description: Removes a tag from the specified users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUsersRequest'
            example:
              tag: Sport
              extIds: [id1, id2]
      responses:
        '200':
          description: |
            The tag was removed. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/setCategoryPreferences:
    post:
      operationId: setCategoryPreferences
      tags: [Categories]
      summary: Set category preferences
      description: Enables or disables category-specific opt-in preferences for a user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [extId, category, enable]
                properties:
                  extId:
                    type: string
                    description: External user ID.
                  category:
                    type: string
                    description: Message category name.
                  enable:
                    type: boolean
                    description: True to opt-in, false to opt-out.
            example:
              - extId: id1
                category: Shopping
                enable: true
              - extId: id1
                category: Promotion
                enable: false
      responses:
        '200':
          description: |
            The preferences were updated. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/getCategoryPreferences:
    get:
      operationId: getCategoryPreferences
      tags: [Categories]
      summary: Get category preferences
      description: |
        Retrieves category-based opt-in preferences for a specific user.

        The Netmera Developer Guide documents `externalId` and `pushPermitted` as this
        endpoint's parameters and shows them being passed as a JSON body on a GET request.
        They are modelled here as query parameters.
      parameters:
        - name: externalId
          in: query
          required: true
          description: External user ID in your system.
          schema:
            type: string
          example: exid
        - name: pushPermitted
          in: query
          required: false
          description: Filters results by push permission status.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: The user's category preferences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryPreferencesResponse'
              example:
                categoryPreferences:
                  Promotions: true
                  Discounts: true
                  "Haftalık Bülten": true
                  Newsletter: true
          x-netmera-verified: '2026-09-06'

  /rest/3.0/getProfileAttributes:
    get:
      operationId: getProfileAttributes
      tags: [Profile Attributes]
      summary: Get profile attributes
      description: Retrieves the current profile attributes of a user.
      parameters:
        - name: extId
          in: query
          required: true
          description: External user ID whose attributes are fetched.
          schema:
            type: string
          example: id1
      responses:
        '200':
          description: The user's profile attributes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  extId:
                    type: string
                  profile:
                    type: object
                    description: Key-value map of the user's profile attributes.
                    additionalProperties: true
              example:
                extId: id1
                profile:
                  name: John
                  surname: Brown
                  dateOfBirth: 624315600000
                  email: john.brown@example.com
                  age: 34
                  isSubscribed: true

  /rest/3.0/setProfileAttributes:
    post:
      operationId: setProfileAttributes
      tags: [Profile Attributes]
      summary: Set profile attributes
      description: Sets or updates profile attributes for the given users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [extId, profile]
                properties:
                  extId:
                    type: string
                    description: External user ID.
                  profile:
                    type: object
                    description: Key-value object of profile attributes to set.
                    additionalProperties: true
            examples:
              multipleUsers:
                summary: Set attributes for multiple users
                value:
                  - extId: id1
                    profile:
                      age: 24
                  - extId: id2
                    profile:
                      name: John
              registerUser:
                summary: Identify and register a user
                description: |
                  Netmera requires a user identity to attach events to a profile. At the start of
                  each session, the backend must either match the user to an existing Netmera
                  profile or create a new one. Identifying the user by external ID (`extId`) is
                  recommended.

                  If the user is anonymous, generate a temporary session ID and merge it with a
                  known identity after authentication.
                value:
                  - extId: user_98765
                    profile:
                      name: John
                      email: user@example.com
                      source: chatgpt_app
                      first_seen_channel: conversational_ai
      responses:
        '200':
          description: |
            The attributes were set. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/unsetProfileAttributes:
    post:
      operationId: unsetProfileAttributes
      tags: [Profile Attributes]
      summary: Unset profile attributes
      description: Removes the specified keys from a user's profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [extId, profile]
                properties:
                  extId:
                    type: string
                    description: External user ID.
                  profile:
                    type: array
                    description: Attribute keys to remove.
                    items:
                      type: string
            example:
              - extId: id1
                profile: [age]
              - extId: id2
                profile: [age, name]
      responses:
        '200':
          description: |
            The attributes were removed. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/pushProfileAttributes:
    post:
      operationId: pushProfileAttributes
      tags: [Profile Attributes]
      summary: Append values to array attributes
      description: |
        Appends values to array-type profile attributes. The target attribute must be an array.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [extId, profile]
                properties:
                  extId:
                    type: string
                    description: External user ID.
                  profile:
                    type: object
                    description: |
                      Map of array-type attribute keys to the values appended to them.
                    additionalProperties: true
            example:
              - extId: id1
                profile:
                  lastVisitedCategories: [shopping]
      responses:
        '200':
          description: |
            The values were appended. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/pullProfileAttributes:
    post:
      operationId: pullProfileAttributes
      tags: [Profile Attributes]
      summary: Remove values from array attributes
      description: |
        Removes values from array-type profile attributes. The keys must match array-type
        attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [extId, profile]
                properties:
                  extId:
                    type: string
                    description: External user ID.
                  profile:
                    type: object
                    description: |
                      Map of array-type attribute keys to the values removed from them.
                    additionalProperties: true
            example:
              - extId: id1
                profile:
                  lastVisitedCategories: [promotion]
      responses:
        '200':
          description: |
            The values were removed. Returns no response body.
          x-netmera-verified: '2026-09-06'

  /rest/3.0/deleteProfileAttributes:
    post:
      operationId: deleteProfileAttributes
      tags: [Profile Attributes]
      summary: Delete profile attributes
      description: Deletes the specified profile keys from all users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [profile]
                properties:
                  profile:
                    type: array
                    description: Attribute keys to delete for all users.
                    items:
                      type: string
            example:
              - profile: [name, age]
      responses:
        '200':
          description: The attributes were deleted.

  /rest/3.0/deleteProfileAttributeValue:
    post:
      operationId: deleteProfileAttributeValue
      tags: [Profile Attributes]
      summary: Delete profile attribute value
      description: Deletes a specific value from a profile attribute across all users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [key, value]
                properties:
                  key:
                    type: string
                    description: Attribute key.
                  value:
                    type: string
                    description: Value to remove globally.
            example:
              - key: lastVisitedProducts
                value: shirt
      responses:
        '200':
          description: The value was deleted.

  /rest/3.0/getDevices:
    get:
      operationId: getDevices
      tags: [Devices]
      summary: Get user devices
      description: |
        Returns all devices associated with a user, optionally filtered by push permission.
      parameters:
        - name: extId
          in: query
          required: true
          description: External user ID whose devices are fetched.
          schema:
            type: string
          example: id1
        - name: pushPermitted
          in: query
          required: false
          description: |
[...]
